body {
    background-image: url("../images/ecailles.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.header {
    background-color: #ffffff;
    font-size: large;
    border-bottom: 3px solid #cccccc;
    height: 40px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.name {
    font-size: 25px;
    background-color: #4aaaa5;
    float: left;
    color: white;
    width: 250px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

nav {
    float: right;
    line-height: 40px;
    color: #777777;
}

nav a {
    padding-left: 25px;
    border-left: 1px solid #cccccc;
    margin-left: 25px;
}

nav a:first-child {
    border-left: 0 none;
}

.container1 {
    background-color: #ffffff;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    border: 2px solid #dddddd;
}

.container2 {
    background-color: #ffffff;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    border: 2px solid #dddddd;
    padding: 20px;
}

.about {
    font-size: 25px;
    color: #4aaaa5;
    border-bottom: 3px solid #dddddd;
    padding: 15px;
}
 
.body {
    padding-top: 100px;
    padding-bottom: 100px;
    line-height: 25px;
    color: #777777;
}

img {
    float: left;
    margin: 10px;
}

.form {
    color: #777777;
    margin-top: 25px;
}

.submit {
    margin-top: 25px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    margin-top: 25px;
    border-top: 8px solid #4aaaa5;
    background-color: gray;
    text-align: center;
    padding: 10px;
}